@media (max-width: 600px){
    #navbar{
        position: relative;
        width: 100%;
        height: auto;
    }
    #main-doc{
        margin-left: 0;
    }
}
#navbar{
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}
nav{
    display: block;
    unicode-bidi: isolate;
}
html, body{
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
}
header{
    display: inline-block;
    unicode-bidi: isolate;
    color: black;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.8em;
    font-weight: lighter
}
#navbar li{
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
li{
    display: list-item;
    unicode-bidi: isolate;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
main{
    display: block;
    unicode-bidi: isolate;
}
#navbar a{
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
img{
    max-height: 500px;
    max-width: 1000px;
}